body {
    background: aliceblue;
    text-align: center;
}

.App {
    text-align: center;
}

.App-link {
    color: #61dafb;
}

.players {
    margin-right: 40px;
    margin-top: 50px;
}

.players-mobile {
    margin-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.left-panel {
    margin-left: 40px;
    margin-top: 50px;
}

.left-panel > .row {
    padding-bottom: 5px;
}

.notification {
    align-items: center;
    position: fixed;
    display: flex;
    width: 100%;
    min-width: 600px;
    flex-direction: column;
    top: 10px;
    z-index: 999;
}

.notification i {
    display: none !important;
}

.anagram {
    text-align: center;
}

.left-panel-mobile button {
    min-width: 88px;
}
