body {
    background: aliceblue;
}

.App {
    text-align: center;
}

.App-link {
    color: #61dafb;
}

.players {
    margin-right: 40px;
    margin-top: 50px;
}

.left-panel {
    margin-left: 40px;
    margin-top: 50px;
}

.left-panel > .row {
    padding-bottom: 5px;
}

.notification {
    top: 10px;
    position: absolute;
    right: 45%;
}
